body {

}

h1{
    text-align:center;
}

#gameCanvas{
    border:1px solid #000000;
    height:400px;
    width:600px;    
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#content{
    margin-left:auto;
    margin-right:auto;
}